In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./policies.csv", header=0)

In [3]:
df.head()

,id,timestamp,title,school,department,administrator,author,state,city,latitude,longitude,link,published_date,tags,abstract,text
0,21103,8/2/2019 9:48,Economics\tDepartment:\tSummer\tSession\tPolicy,university of oregon,NaN,NaN,NaN,oregon,eugene,44.0448° N,123.0726° W,https://provost.uoregon.edu/sites/provost2.uor...,NaN,"Faculty, Administrative",NaN,Economics\tDepartment:\tSummer\tSession\tPolic...
1,21104,8/2/2019 13:39,Compensation and Benefits--Compensation,university of massachusetts lowell,UNIVERSITY OF MASSACHUSETTS MEDICAL SCHOOL,NaN,NaN,massachusetts,lowell,42.642716° N,71.334530° W,https://www.umassp.edu/sites/umassp.edu/files/...,NaN,"Administrative, Fees",NaN,Each resident shall be paid at least bi-weekly...
2,21105,8/2/2019 13:40,Compensation and Benefits--Excused Days With Pay,university of massachusetts lowell,UNIVERSITY OF MASSACHUSETTS MEDICAL SCHOOL,NaN,NaN,massachusetts,lowell,42.642716° N,71.334530° W,https://www.umassp.edu/sites/umassp.edu/files/...,NaN,"Administrative, Fees",NaN,Each full-time resident shall receive 15 days ...
3,21106,8/2/2019 13:40,Compensation and Benefits--Leave of Absence,university of massachusetts lowell,UNIVERSITY OF MASSACHUSETTS MEDICAL SCHOOL,NaN,NaN,massachusetts,lowell,42.642716° N,71.334530° W,https://www.umassp.edu/sites/umassp.edu/files/...,NaN,"Administrative, Fees",NaN,Eligible residents may be granted a Family and...
4,21107,8/2/2019 13:41,Compensation and Benefits--Benefits,university of massachusetts lowell,UNIVERSITY OF MASSACHUSETTS MEDICAL SCHOOL,NaN,NaN,massachusetts,lowell,42.642716° N,71.334530° W,https://www.umassp.edu/sites/umassp.edu/files/...,NaN,"Administrative, Fees",NaN,All residents are eligible to participate in t...

In [4]:
df['link'].head()

0    https://provost.uoregon.edu/sites/provost2.uor...
1    https://www.umassp.edu/sites/umassp.edu/files/...
2    https://www.umassp.edu/sites/umassp.edu/files/...
3    https://www.umassp.edu/sites/umassp.edu/files/...
4    https://www.umassp.edu/sites/umassp.edu/files/...
Name: link, dtype: object

In [5]:
df['link'] = df['link'].str.strip()

In [84]:
df['link'].str.slice(stop=4).value_counts()

http    22736
file       13
Corn        1
-73.        1
74.0        1
40.0        1
76.9        1
A st        1
Name: link, dtype: int64

In [7]:
search_http = "http"

df['link'].str.startswith(search_http).value_counts()

True     22694
False       63
Name: link, dtype: int64

In [8]:
search_file = "file"
df['link'].str.startswith(search_file).value_counts()

False    22744
True        13
Name: link, dtype: int64

In [9]:
# Fixed links start with 'www'
df.loc[df['link'].str.startswith("www"), 'link'] = "https://" + df[df['link'].str.startswith("www")]['link']

In [10]:
# Fixed links start with '://'
df.loc[df['link'].str.startswith("://"), 'link'] = "https" + df[df['link'].str.startswith("://")]['link']
# df[df['link'].str.startswith("://")]['link']

In [11]:
df[df['link'].str.startswith("The")][['id','link']]

        id                                               link
2521   702  The University of Chicago Human Resources Poli...
4096  2310  The University of Wisconsin–Madison is committ...
6095  4426  The University will maintain an academic envir...

In [12]:
# Fixed links start with 'The'
# U Chicago
df.loc[df.id=="702", 'link'] = "https://humanresources.uchicago.edu/fpg/policies/100/p101.shtml"
# df.loc[df.id=="702", 'link']

# U WM
df.loc[df.id=="2310", 'link'] = "https://employeedisabilities.wisc.edu/disability-accommodation/"
# df.loc[df.id=="2310", 'link']

# U of Alaska Fairbanks
df.loc[df.id=="4426", 'link'] = "https://www.alaska.edu/bor/policy/09-02.pdf"
# df.loc[df.id=="4426", 'link']

In [13]:
# Fixed links start with '32'
df.loc[df['link'].str.startswith("32"),['id','school','link']]

          id                      school                     link
6322    4659       university of arizona  32.2319° N, 110.9501° W
11105  10754  texas christian university   32.7096° N, 97.3636° W
11423  11210  texas christian university   32.7096° N, 97.3636° W

In [14]:
# university of arizona
df.loc[df.id == "4659","link"] = "https://diversity.arizona.edu/vision-our-campus"
# df.loc[df.id == "4659","link"]

# Texas christian university
df.loc[df.id == "10754","link"] = "http://hr.tcu.edu/wp-content/uploads/Policy-1.005-Pol%C3%ADtica-sobre-la-Prohibici%C3%B3n-de-Discriminaci%C3%B3n-Acoso-y-Conducta-relacionada.pdf"
# df.loc[df.id == "10754","link"]
df.loc[df.id == "11210","link"] = "https://tcu.smartcatalogiq.com/en/current/Graduate-Catalog/Policies-and-Procedures/Academic-Rating-System"
# df.loc[df.id == "11210","link"]

In [15]:
# Fixed links start with 'NWA'
df.loc[df['link'].str.startswith("NWA"),['id','school','link']]

,id,school,link
9157,8020,university of arkansas,NWA Democratic Black Caucus Honors U of A Facu...

In [16]:
# university of arkansas
df.loc[df.id == "8020","link"] = "https://news.uark.edu/articles/41567/nwa-democratic-black-caucus-honors-u-of-a-faculty-staff"
# df.loc[df.id == "8020","link"]

In [17]:
# Fixed links start with 'Vill'
df.loc[df['link'].str.startswith("Vill"),['id','school','link']]

,id,school,link
4200,2405,villanova univeristy,Villanova students with disabilities are eligi...

In [18]:
# villanova university
df.loc[df.id == "2405","link"] = "https://www1.villanova.edu/villanova/studentlife/be_empowered/disability_services/guidelines.html"
# df.loc[df.id == "2405","link"]

In [19]:
# Fixed links start with '94.1'
df.loc[df['link'].str.startswith("94.1"),['id','school','link']]

        id                  school     link
8662  7338  university of arkansas  94.1737

In [20]:
# university of arkansas
df.loc[df.id == "7338","link"] = "https://news.uark.edu/articles/45982/trip-to-memphis-gives-students-new-cultural-experience"
# df.loc[df.id == "7338","link"]

In [21]:
# Fixed links start with '39.3'
df.loc[df['link'].str.startswith("39.3"),['id','school','link']]

        id                    school                    link
5745  4021  johns hopkins university  39.3299° N, 76.6205° W

In [22]:
# johns hopkins university
df.loc[df.id == "4021","link"] = "https://studentaffairs.jhu.edu/disabilities/prospective-newly-admitted-students/documentation-guidelines/"
# df.loc[df.id == "4021","link"]

In [23]:
# Fixed links start with 'vhtt'
df.loc[df['link'].str.startswith("vhtt"),['id','school','link']]

,id,school,link
7868,6273,the university of montana western,vhttps://w.umwestern.edu/section/705-11-teleco...

In [24]:
# the university of montana western
df.loc[df.id == "6273","link"] = "https://w.umwestern.edu/section/705-11-telecommuting/"
# df.loc[df.id == "6273","link"]

In [25]:
# Fixed links start with '40.5' 
df.loc[df['link'].str.startswith("40.5"),['id','school','link']]

         id              school                    link
20299  3127  rutgers university  40.5008° N, 74.4474° W

In [26]:
# rutgers university (No link for this record, drop it)
# df = df.drop(df.index[20299])
# df.loc[df.id == "3127","link"]

In [27]:
# Fixed links start with '73.1' 
df.loc[df['link'].str.startswith("73.1"),['id','school','link']]

          id                 school        link
12441  12296  university of vermont  73.1965° W

In [28]:
# university of vermont
df.loc[df.id == "12296","link"] = "https://www.uvm.edu/sites/default/files/UVM-Policies/policies/missingstudent.pdf"
# df.loc[df.id == "12296","link"]

In [29]:
# Fixed links start with 'c-pr' 
df.loc[df['link'].str.startswith("c-pr"),['id','school','link']]

,id,school,link
22342,8649,"university of minnesota, twin cities",c-priorities/diversity-inclusion/

In [30]:
# university of minnesota
df.loc[df.id == "8649","link"] = "https://www.sph.umn.edu/about/diversity-inclusion/"
# df.loc[df.id == "8649","link"]

In [31]:
# Fixed links start with 'Grad' 
df.loc[df['link'].str.startswith("Grad"),['id','school','link']]

         id                              school                        link
1053  22382  university of massachusetts lowell  Graduate-Certificates.aspx

In [32]:
# university of massachusetts lowell
df.loc[df.id == "22382","link"] = "https://www.uml.edu/catalog/graduate/engineering/mechanical-engineering/graduate-certificates.aspx"
# df.loc[df.id == "22382","link"]

In [33]:
# Fixed links start with 'f an' 
df.loc[df['link'].str.startswith("f an"),['id','school','link']]

,id,school,link
5729,4006,baylor university,f any member of the faculty feels that he/she ...

In [34]:
# baylor university
df.loc[df.id == "4006","link"] = "https://www.baylor.edu/content/services/document.php?id=39796"
# df.loc[df.id == "4006","link"]

In [35]:
# Fixed links start with 'Andr' 
df.loc[df['link'].str.startswith("Andr"),['id','school','link']]

,id,school,link
4572,2771,andrews university,Andrews University does not discriminate on th...

In [36]:
# andrews university
df.loc[df.id == "2771","link"] = "https://www.andrews.edu/diversity/policies/index.html"
# df.loc[df.id == "2771","link"]

In [37]:
# Fixed links start with '33.9' 
df.loc[df['link'].str.startswith("33.9"),['id','school','link']]

        id                 school                    link
4342  2553  university of georgia  33.9480° N, 83.3773° W

In [38]:
# university of georgia
df.loc[df.id == "2553","link"] = "https://lacsi.uga.edu/about-lacsi"
# df.loc[df.id == "2553","link"]

In [39]:
# Fixed links start with 's://' 
df.loc[df['link'].str.startswith("s://"),['id','school','link']]

,id,school,link
8253,6807,arizona state university,s://education.asu.edu/about/community/asu-teac...

In [40]:
# arizona state university
df.loc[df['link'].str.startswith("s://"),'link'] = "https://education.asu.edu/about/community/asu-teach-america-partnership"
# df.loc[df.id == "6807","link"]

In [41]:
# Fixed links start with '87°3' 
df.loc[df['link'].str.startswith("87°3"),['id','school','link']]

          id             school           link
20222  10523  depaul university  87°39'12.75 W

In [42]:
# depaul university
df.loc[df.id == "10523","link"] = "https://csh.depaul.edu/student-resources/advising-student-services/undergraduate-advising/Forms/Pages/Academic-Probation-Contract.aspx"
# df.loc[df.id == "10523","link"]

In [43]:
# Fixed links start with 'news' 
df.loc[df['link'].str.startswith("news"),['id','school','link']]

         id          school                           link
1592  22913  the new school  newschool.edu/privacy-policy/

In [44]:
# the new school
df.loc[df.id == "22913","link"] = "https://www.newschool.edu/privacy-policy/"
# df.loc[df.id == "22913","link"]

In [45]:
# Fixed links start with '118°' 
df.loc[df['link'].str.startswith("118°"),['id','school','link']]

          id            school          link
13952  14329  biola university  118°00'54.6W

In [46]:
# biola university
df.loc[df.id == "14329","link"] = "http://offices.biola.edu/hr/ehandbook/6.9/"
# df.loc[df.id == "14329","link"]

In [47]:
# Fixed links start with 'John' 
df.loc[df['link'].str.startswith("John"),['id','school','link']]

,id,school,link
5735,4012,johns hopkins university,Johns Hopkins University is committed to creat...

In [48]:
# johns hopkins university
df.loc[df.id == "4012","link"] = "https://oie.jhu.edu/ada-compliance/"
# df.loc[df.id == "4012","link"]

In [49]:
# Fixed links start with '38.2' 
df.loc[df['link'].str.startswith("38.2"),['id','school','link']]

        id                    school                    link
7415  5809  university of louisville  38.2123° N, 85.7585° W

In [50]:
# university of louisville
df.loc[df.id == "5809","link"] = "https://louisville.edu/hr/employeerelations/americans-with-disabilities-act-ada"
# df.loc[df.id == "5809","link"]

In [51]:
# Fixed links start with 'Univ' 
df.loc[df['link'].str.startswith("Univ"),['id','school','link']]

,id,school,link
21295,13005,the university of california santa cruz,"University of California, Santa Cruz"

In [52]:
# the university of california santa cruz
df.loc[df.id == "13005","link"] = "https://deanofstudents.ucsc.edu/student-conduct/student-handbook/pdf/60.0-policy-student-governments.pdf"
# df.loc[df.id == "13005","link"]

In [53]:
# Fixed links start with '33.7' 
df.loc[df['link'].str.startswith("33.7"),['id','school','link']]

        id                                  school                     link
4666  2869  california state university long beach  33.7701° N, 118.1937° W

In [54]:
# california state university long beach
df.loc[df.id == "2869","link"] = "https://web.csulb.edu/divisions/students/aim/faculty_staff.html"
# df.loc[df.id == "2869","link"]

In [55]:
# Fixed links start with 'occr' 
df.loc[df['link'].str.startswith("occr"),['id','school','link']]

         id                              school                   link
21471  2267  the university of california davis  occr.ucdavis.edu/poc/

In [56]:
# the university of california davis
df.loc[df.id == "2267","link"] = "https://diversity.ucdavis.edu/principles-community"
# df.loc[df.id == "2267","link"]

In [57]:
# Fixed links start with '40.7' 
df.loc[df['link'].str.startswith("40.7"),['id','school','link']]

         id                 school                    link
20493  3102  st. john's university  40.7221° N, 73.7942° W

In [58]:
# st. john's university
df.loc[df.id == "3102","link"] = "https://www.stjohns.edu/life-st-johns/health-and-wellness/disability-services"
# df.loc[df.id == "3102","link"]

In [59]:
# Fixed links start with 'Resp' 
df.loc[df['link'].str.startswith("Resp"),['id','school','link']]

,id,school,link
6082,4414,university of alaska fairbanks,Responsible Employee Reporting Obligation:

In [60]:
# university of alaska fairbanks
df.loc[df.id == "4414","link"] = "https://uaf.edu/chancellor/communications/memos/february-19-2016.php"
# df.loc[df.id == "4414","link"]

In [61]:
# Fixed links start with 'a.\th' 
df.loc[df['link'].str.startswith("a.\th"),['id','school','link']]

,id,school,link
14127,14739,michigan technological university,a.\thttps://www.mtu.edu/policy/policies/genera...

In [62]:
# michigan technological university
df.loc[df.id == "14739","link"] = "https://www.mtu.edu/policy/policies/general/1-01/"
# df.loc[df.id == "14739","link"]

In [63]:
# Fixed links start with 'hr.c' 
df.loc[df['link'].str.startswith("hr.c"),['id','school','link']]

,id,school,link
2622,812,california institute of technology,hr.caltech.edu/documents/48-citpolicy_sexual_m...

In [64]:
# california institute of technology
df.loc[df.id == "812","link"] = "https://hr.caltech.edu/documents/2925/caltech_institute_policy-gender_based_misconduct.pdf"
# df.loc[df.id == "812","link"]

In [65]:
# Fixed links start with 'uden' 
df.loc[df['link'].str.startswith("uden"),['id','school','link']]

,id,school,link
4664,2867,california state university long beach,udents with a print-related disability and app...

In [66]:
# california state university long beach
df.loc[df.id == "2867","link"] = "https://web.csulb.edu/divisions/students/aim/aimr.html"
# df.loc[df.id == "2867","link"]

In [67]:
# Fixed links start with '34.5' 
df.loc[df['link'].str.startswith("34.5"),['id','school','link']]

        id            school                     link
6316  4654  prescott college  34.5448° N, 112.4766° W

In [68]:
# prescott college
df.loc[df.id == "4654","link"] = "https://www.prescott.edu/our_story"
# df.loc[df.id == "4654","link"]

In [69]:
# Fixed links start with 'Engl' 
df.loc[df['link'].str.startswith("Engl"),['id','school','link']]

,id,school,link
98,21197,university of oregon,"English Department Assessment Report, 2017-18 ..."

In [70]:
# university of oregon
df.loc[df.id == "21197","link"] = "https://provost.uoregon.edu/files/assessment_report_final._lh_002.pdf"
# df.loc[df.id == "21197","link"]

In [71]:
# Fixed links start with 'Allo' 
df.loc[df['link'].str.startswith("Allo"),['id','school','link']]

,id,school,link
5851,4123,columbia university,Allowing students to explore questions of race...

In [72]:
# columbia university
df.loc[df.id == "4123","link"] = "https://undergrad.admissions.columbia.edu/learn/studentlife/diversity"
# df.loc[df.id == "4123","link"]

In [73]:
# Fixed links start with 'High' 
df.loc[df['link'].str.startswith("High"),['id','school','link']]

,id,school,link
8740,7430,university of arkansas,Higher Education Affirmative Action Decision M...

In [74]:
# university of arkansas
df.loc[df.id == "7430","link"] = "https://news.uark.edu/articles/14525/higher-education-affirmative-action-decision-misunderstood"
# df.loc[df.id == "7430","link"]

In [75]:
# Fixed links start with 'vete' 
df.loc[df['link'].str.startswith("vete"),['id','school','link']]

         id                          school      link
21160  6928  university of alaska fairbanks  veterans

In [76]:
# 	university of alaska fairbanks (No link for this record, drop it)
# df = df.drop(21160)
# df.loc[df.id == "6928","link"]

Series([], Name: link, dtype: object)

In [78]:
# Fixed links start with '120.' 
df.loc[df['link'].str.startswith("120."),['id','school','link']]

          id                               school         link
21586  17490  the university of california merced  120.4255° W

In [79]:
# the university of california merced
df.loc[df.id == "17490","link"] = "https://www.ucop.edu/information-technology-services/initiatives/"
# df.loc[df.id == "17490","link"]

21586    https://www.ucop.edu/information-technology-se...
Name: link, dtype: object

In [80]:
# Fixed links start with '-83.' 
df.loc[df['link'].str.startswith("-83."),['id','school','link']]

          id          school       link
12750  12649  mercer college  -83.63509

In [81]:
# the university of california merced
df.loc[df.id == "12649","link"] = "https://orc.mercer.edu/www/mu-orc/assurance/upload/D16-00428-A3725-01-Animal-Welfare-Assurance-v2018.pdf"
# df.loc[df.id == "12649","link"]

In [82]:
# Fixed links start with 'Empl' 
df.loc[df['link'].str.startswith("Empl"),['id','school','link']]

,id,school,link
12458,12310,university of oklahoma,Employees must provide 30 days advance notice ...

In [83]:
# university of oklahoma
df.loc[df.id == "12310","link"] = "https://apps.hr.ou.edu/staffhandbook"
# df.loc[df.id == "12310","link"]

12458    https://apps.hr.ou.edu/staffhandbook
Name: link, dtype: object

In [86]:
# Fixed links start with 'Corn' 
df.loc[df['link'].str.startswith("Corn"),['id','school','link']]

,id,school,link
2046,153,cornell university,Cornell University expects all executive offic...